<nav class="navbar navbar-color navbar-expand-lg bg-body-tertiary  bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand"  (click)="clickedHead()" >Lab Reservation Tool</a>
      <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Options</button>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="access==='admin'" class="nav-link active"   aria-current="page" (click)="adduser()">Add User</a>
        </li>
        <li class="nav-item">
          <a *ngIf="access==='admin'" class="nav-link active"  aria-current="page" (click)="adddevice()">Add Device</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="clickedUser()">User Info</a>
        </li>
        
        
      </ul>
      <button class="btn btn-outline-success me-2" type="submit" (click)="clickedCart()">Your topologies</button>
      <button class="btn btn-outline-success me-2" *ngIf="access==='admin' " type="submit" (click)="clickedTopology()"> Create Topology</button>


      <button class="btn btn-outline-danger me-2" type="submit" routerLink="/logout">Logout</button>

    </div>
   
  </div>
</nav>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
<div class="offcanvas-header">
  <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Projects</h2>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
          <nav class="nav nav-pills " *ngFor="let project of projects">
            <a class="nav-link ms-3 my-1"  style="color:black;" (click)="getProjectInfo(project.projectname, project.id)">{{project.projectname}}</a>
          </nav>
        
        <button class="btn btn-primary m-3"  *ngIf="access==='admin'"  (click)="clickedRegisteredProject()">Register Project</button>  </div>
</div>
<h1 style="text-align: center;" class="mt-5 "> UPDATE DEVICE</h1>
<div *ngIf="erMsg" class="alert alert-danger alert-warning alert-dismissible fade show" role="alert">
  <strong>{{erMsg}}</strong>
  <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close" (click)="clickClose()"></button>
</div>
<div *ngIf="sucMsg" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{sucMsg}}</strong>
  <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close" (click)="clickClose()"></button>
</div>
<form [formGroup]="deviceForm"  class="container form-center" >
    <!-- {{devicename}} -->
    <div class="col-md-4 mb-1 " hidden>
        <input type="text" class="form-control" placeholder="Enter console IP" formControlName="consoleip">
    </div>
  <div class="col-md-4 mb-1">
      <input type="text" class="form-control" placeholder="Enter console IP" formControlName="consoleip">
  </div>
  <div class="col-md-4  mb-1">
    <input type="text" class="form-control" placeholder="Enter serial number" formControlName="serialnumber">
</div>  <div class="col-md-4  mb-1">
  <input type="text" class="form-control" placeholder="Enter mac address" formControlName="mac">
</div>
  <div class="col-md-4  mb-1">
      <input type="text" class="form-control" placeholder="Enter console port" formControlName="consoleport">
  </div>
  <div class="col-md-4 mb-1">
      <input type="text" class="form-control" placeholder="Enter management IP" formControlName="managementip">
  </div>
  <div class="col-md-4  mb-1">
      <input type="text" class="form-control" placeholder="Enter power cycle IP" formControlName="powercycleip">
  </div>
  <div class="col-md-4  mb-1">
      <input type="text" class="form-control" placeholder="Enter power cycle port" formControlName="powercycleport">
  </div>
  <div class="col-md-4 mb-1">
      <input type="text" class="form-control" placeholder="Enter team name" formControlName="teamname">
  </div>
  <div class="col-md-4  mb-1">
      <input type="text" class="form-control" placeholder="Enter project name" formControlName="projectname">
  </div>
  <div class="col-md-4  mb-1">
    <input type="text" class="form-control" placeholder="Enter TG Information" formControlName="tg">
</div>

  
 

  <div class="col-md-4  mb-1" *ngIf="getparamid">

  <button type="submit" class="btn btn-primary mb-1" (click)="clickedUpdateDevice()">Update device</button>
</div>

</form>




    
