
 
      <nav class="navbar navbar-color navbar-expand-lg bg-body-tertiary  bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand"  (click)="clickedHead()" >Lab Reservation Tool</a>
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Projects</button>
          <button *ngIf="access==='admin'" class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOption" aria-controls="offcanvasWithBothOptions">Team Members</button>


          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a *ngIf="access==='admin'" class="nav-link active"   aria-current="page" (click)="adduser()">Add User</a>
            </li>
            <li class="nav-item">
              <a *ngIf="access==='admin'" class="nav-link active"  aria-current="page" (click)="adddevice()">Add Device</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" *ngIf="access==='admin' || access==='user'"  aria-current="page" (click)="clickedUser()">User Info</a>
            </li>
            
            
          </ul>
          <button class="btn btn-outline-success me-2" type="submit" (click)="clickedCart()">Your topologies</button>
          <button class="btn btn-outline-success me-2" *ngIf="access==='admin' " type="submit" (click)="clickedTopology()"> Create Topology</button>


          <button class="btn btn-outline-danger me-2" type="submit" routerLink="/logout">Logout</button>

        </div>
       
      </div>
  </nav>
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Projects</h2>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
              <nav class="nav nav-pills " *ngFor="let project of projects">
                <a class="nav-link ms-3 my-1"  style="color:black;" (click)="getProjectInfo(project.projectname, project.id)">{{project.projectname}}</a>
              </nav>
            
            <button class="btn btn-primary m-3"  *ngIf="access==='admin'"  (click)="clickedRegisteredProject()">Register Project</button>   </div>
  </div> 


  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOption" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Team Members</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <nav id="navbar-example3" class="  ">
        
          
          
          <nav class="nav nav-pills " >
            <table  class="table table-bordered container">
              <thead style="text-align:center;">
                <tr>
                 
                  <th scope="col" >Name</th>
                  <th scope="col">Access</th>
                  <th scope="col">Action</th>
                  </tr>
                </thead>
              <tbody> 
                <tr *ngFor="let members of teamMembers" >
                  <td>{{members.name}}</td>
                  <td>{{members.accesslevel}}</td>
                  <td *ngIf="members.accesslevel==='user'"><button class=" btn btn-warning" (click)="clickedMoreInformation(members.id)">More Information</button></td>
                
                  </tr>
                  </tbody>

            </table>
           
          </nav>
        
        </nav>    </div>
  </div>
  <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{successMsg}}</strong>
    <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close" (click)="clickClose()"></button>
  </div>
     <h1 style="text-align: center;" class="mt-5 mb-5">Topology {{topologyname}}</h1>
    
            <div class="container">
          <table class="table table-bordered container" >
            <thead style="text-align:center;">
              <tr>
               
                <th scope="col" >Rack</th>
                <th scope="col">Unit</th>
                <th scope="col">Device Name</th>
                <th scope="col">Console IP</th>
                <th scope="col">Console port</th>
                <th scope="col">Management IP</th>
                <th scope="col">Power Cycler IP</th>
                <th scope="col">Power Cycler Port</th>
                <th scope="col" *ngIf="( access==='admin' || access==='user')">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of topologyInformation"> 
              <tr *ngIf="item.topologyname===topologyname">
                <td  >{{item.rack}}</td>
                <td >{{item.unit}}</td>
                <td >{{item.devicename}}</td>
                <td >{{item.consoleip}}</td>
                <td >{{item.consoleport}}</td>
                <td >{{item.managementip}}</td>
                <td >{{item.powercycleip}}</td>
                <td >{{item.powercycleport}}</td>
               
          
                <td *ngIf="( access==='admin' || access==='user') && currentStatusArr.includes(item.deviceid)"><button class=" btn btn-danger" >Reserved</button></td>
                <td *ngIf="( access==='admin' || access==='user') && !currentStatusArr.includes(item.deviceid)"><button class=" btn btn-primary" >Unreserved</button></td>

          
          
          
          
                <!-- <td *ngIf="item.status==='Unreserved'"><button class="btn btn-danger" (click)="deleteId(item.id, item.userid)">Delete</button></td>  -->
              </tr>
              
             </tbody> 
          </table>
          <div *ngIf="errMsg" class="alert alert-danger alert-warning alert-dismissible fade show" role="alert">
            <strong>{{errMsg}}</strong>
            <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close" (click)="clickClose()"></button>
          </div>
          <div class=" container mt-3 mb-3" style="font-size: 20px;" *ngIf="extended!=='Extended'"><b>For {{showCurrentTime}}</b></div>
          <form [formGroup]="dateForm" *ngIf="extended==='Extended' && showSelectTime" >
            <div class="col-md-4 m-2">
              <label>Start Date : &nbsp; &nbsp; &nbsp; </label>
                <input type="date" min={{sTime}} max={{eTime}} formControlName="startDate">
            </div>
            <div class="col-md-4 m-2">
              <label>End Date &nbsp;&nbsp;: &nbsp;&nbsp; &nbsp;</label>
                <input type="date"  min={{sTime}} max={{eTime}} formControlName="endDate">
            </div>
            
    
            <button *ngIf='hideSelectTime' type="submit" class="btn btn-primary m-2" (click)="clickedSelectTime()">Select Time</button>
      
       
        </form>
        <div class="m-3" *ngIf="!showSelectTime">Selected Date : {{dateForm.value.startDate}} To {{dateForm.value.endDate}} <span >         <button  type="button" class="btn btn-warning m-2" (click)="clickChangeButton()">Change Date </button></span>
        </div>
         
          <div class="btn-group container" role="group" aria-label="Basic example "  *ngIf="extended!=='Extended'">
            <div   *ngFor='let slot of timeInterval' >
              <button *ngIf="slot.topology_slot==='yes'" type="button" class="btn btn-outline-danger m-2" >{{slot.startTime}} - {{slot.endTime}} </button>
              <button *ngIf="slot.topology_slot==='no'" type="button" class="btn btn-outline-success m-2" (click)="clickedTimeSlot( slot.id, slot.startTime, slot.endTime)">{{slot.startTime}} - {{slot.endTime}} </button>
              <button *ngIf="slot.topology_slot==='invalid'" type="button" class="btn btn-outline-secondary m-2" >{{slot.startTime}} - {{slot.endTime}} </button>
    
            </div>
    
           
          </div>
          <div class="btn-group container" role="group" aria-label="Basic example "  *ngIf="showTime">
            <div   *ngFor='let slot of timeInterval' >
              <button *ngIf="slot.extended_slot==='yes'" type="button" class="btn btn-outline-danger m-2" >{{slot.startTime}} - {{slot.endTime}} </button>
              <button *ngIf="slot.extended_slot==='no'" type="button" class="btn btn-outline-success m-2" (click)="clickedTimeSlot( slot.id, slot.startTime, slot.endTime)">{{slot.startTime}} - {{slot.endTime}} </button>
              <button *ngIf="slot.extended_slot==='invalid'" type="button" class="btn btn-outline-secondary m-2" >{{slot.startTime}} - {{slot.endTime}} </button>
    
            </div>
    
           
          </div>
          <div *ngIf="timeSlotForTopology">
          <button *ngIf="extended!=='Extended'" class="btn btn-warning m-2" (click)="updateDeviceForTopology(timeSlotForTopology, topologyname)">Reserve</button>
          <button *ngIf="extended==='Extended'" class="btn btn-warning m-2" (click)="updateDeviceForTopologyExtended(timeSlotForTopology, topologyname)">Reserve Topology</button>

          </div>
        </div>


        <div class="container mt-5 mb-2" *ngIf="extended!=='Extended'" >
            <h2 class="mb-5">Device Information</h2>
            <h4 class="m-4"> For {{showCurrentTime}} </h4>
            <table class="table table-bordered container m-4" >
              <thead style="text-align:center;">
                <tr>
                 
                  <th scope="col" >Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">User Name</th>
             
          
          
                </tr>
              </thead>
              <tbody *ngFor="let item of timeInterval"> 
                <tr *ngIf="item.showHistory==='yes'">
                  <td style="text-align: center;">{{item.startTime}}</td>
                  <td style="text-align: center;">{{item.endTime}}</td>
                  <td style="text-align: center;">{{item.user}}</td>
                </tr>
                
               </tbody> 
            </table>
            
          </div>
          <div class="container mt-5 mb-2" *ngIf="extended==='Extended'" >
            <!-- <h2 class="mb-5">Device Information</h2> -->
            <h4 class="m-4"> For Extended </h4>
            <table class="table table-bordered container m-4" >
              <thead style="text-align:center;">
                <tr>
                 
                  <th scope="col" >Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">User Name</th>
             
          
          
                </tr>
              </thead>
              <tbody *ngFor="let item of extendedTimeInterval"> 
                <tr>
                  <td style="text-align: center;">{{item.time}}</td>
                  <td style="text-align: center;">{{item.endtime}}</td>
                  <td style="text-align: center;">{{item.name}}</td>
                </tr>
                
               </tbody> 
            </table>
            
          </div>
     

