.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
    .hello{
      margin-top:30px;
      overflow: auto;
      max-height: 100vh;
      background-color: rgb(224, 227, 227);
    }
    a:hover{
      cursor: pointer;
    }
    
   
   select {
    margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
      }