
 
      <nav class="navbar navbar-color navbar-expand-lg bg-body-tertiary  bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand"  (click)="clickedHead()" >Lab Reservation Tool</a>
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Projects</button>
          <button *ngIf="access==='admin'" class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOption" aria-controls="offcanvasWithBothOptions">Team Members</button>


          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a *ngIf="access==='admin'" class="nav-link active"   aria-current="page" (click)="adduser()">Add User</a>
            </li>
            <li class="nav-item">
              <a *ngIf="access==='admin'" class="nav-link active"  aria-current="page" (click)="adddevice()">Add Device</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" *ngIf="access==='admin' || access==='user'"  aria-current="page" (click)="clickedUser()">User Info</a>
            </li>
            
            
          </ul>
          <button class="btn btn-outline-success me-2" type="submit" (click)="clickedCart()">Your topologies</button>
          <button class="btn btn-outline-success me-2" *ngIf="access==='admin' " type="submit" (click)="clickedTopology()"> Create Topology</button>


          <button class="btn btn-outline-danger me-2" type="submit" routerLink="/logout">Logout</button>

        </div>
       
      </div>
  </nav>
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Projects</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
                <nav class="nav nav-pills " *ngFor="let project of projects">
                  <a class="nav-link ms-3 my-1"  style="color:black;" (click)="getProjectInfo(project.projectname, project.id)">{{project.projectname}}</a>
                </nav>
              
              <button class="btn btn-primary m-3"   (click)="clickedRegisteredProject()">Register Project</button>  </div>
  </div> 


  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOption" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Team Members</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <nav id="navbar-example3" class="  ">
        
          
          
          <nav class="nav nav-pills " >
            <table  class="table table-bordered container">
              <thead style="text-align:center;">
                <tr>
                 
                  <th scope="col" >Name</th>
                  <th scope="col">Access</th>
                  <th scope="col">Action</th>
                  </tr>
                </thead>
              <tbody> 
                <tr *ngFor="let members of teamMembers" >
                  <td>{{members.name}}</td>
                  <td>{{members.accesslevel}}</td>
                  <td *ngIf="members.accesslevel==='user'"><button class=" btn btn-warning" (click)="clickedMoreInformation(members.id)">More Information</button></td>
                
                  </tr>
                  </tbody>

            </table>
           
          </nav>
        
        </nav>    </div>
  </div>
 
     <h1 style="text-align: center;" class="mt-5 mb-5">Register Project</h1>
     <div class="container">
     <div *ngIf="errMsg" class="alert alert-danger alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errMsg}}</strong>
        <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close" (click)="clickClose()"></button>
      </div>
      <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successMsg}}</strong>
        <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close" (click)="clickClose()"></button>
      </div>
          </div>
     <form [formGroup]="projectDetailsForm" class="container" >
        <div class="col-md-4 m-3">
            <input type="text" class="form-control" placeholder="Enter Project Name" formControlName="projectname">
        </div>
        <div class="col-md-4 m-3">
            <input type="text" class="form-control" placeholder="Enter Team Name" formControlName="teamname">
        </div>
      
        <div class="col-md-4 m-3">

            <label for="team">Reservation Type</label>
            <select id="team" formControlName="type">
              <option value="Extended">Extended</option>
              <option value="Regular">Regular</option>
              
            </select>
          </div>
         

        <div class="col-md-4 m-3" *ngIf="getparamid">
        <button type="submit" class="btn btn-primary m-2" (click)="projectSubmit()">Register project</button>
    </div>
   
    </form>

