
 
      <nav class="navbar navbar-color navbar-expand-lg bg-body-tertiary  bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand"  (click)="clickedHead()" >Lab Reservation Tool</a>
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Options</button>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a *ngIf="access==='admin'" class="nav-link active"   aria-current="page" (click)="adduser()">Add User</a>
            </li>
            <li class="nav-item">
              <a *ngIf="access==='admin'" class="nav-link active"  aria-current="page" (click)="adddevice()">Add Device</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" (click)="clickedUser()">User Info</a>
            </li>
            
            
          </ul>
          <button class="btn btn-outline-success me-2" type="submit" (click)="clickedCart()">Cart</button>

          <button class="btn btn-outline-danger me-2" type="submit" routerLink="/logout">Logout</button>

        </div>
       
      </div>
  </nav>
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Options</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <nav id="navbar-example3" class="  ">
        
          <h6 class="" >Devices</h6>
          <nav class="nav nav-pills ">
            <a class="nav-link  ms-3 my-1" style="color:black;"(click)="read()">All Devices</a>
          </nav>

            <nav class="nav nav-pills ">

            <a class="nav-link  ms-3 my-1"style="color:black;"(click)="reserve()">Reserved Devices</a>
          </nav>

            <nav class="nav nav-pills ">

            <a class="nav-link  ms-3 my-1" style="color:black;"(click)="unreserve()">Unreserved Devices</a>
          </nav>
          
          <h6 class=" mt-3" >Projects</h6>
          
          <nav class="nav nav-pills " *ngFor="let project of projects">
            <a class="nav-link ms-3 my-1"  style="color:black;" (click)="getProjectInfo(project.projectname, project.id)">{{project.projectname}}</a>
          </nav>
        </nav>    </div>
  </div>
    
     
<h1 *ngIf="heading" style="text-align: center;" class="bello mt-5">RESERVED DEVICES</h1>

<div class="container mt-3">
    
<table class="table table-bordered  ms-5">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Rack</th>
        <th scope="col">Unit</th>
        <th scope="col">Device Name</th>
        <th scope="col">Console IP</th>
        <th scope="col">Console port</th>
        <th scope="col">Management IP</th>
        <th scope="col">Power Cycler IP</th>
        <th scope="col">Power Cycler Port</th>
    
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let item of readUser">
        <th scope="row" *ngIf="item.status==='Reserved'">{{item.id}}</th>
        <td *ngIf="item.status==='Reserved'">{{item.rack}}</td>
        <td *ngIf="item.status==='Reserved'">{{item.unit}}</td>
        <td *ngIf="item.status==='Reserved'">{{item.devicename}}</td>
        <td *ngIf="item.status==='Reserved'">{{item.consoleip}}</td>
        <td *ngIf="item.status==='Reserved'">{{item.consoleport}}</td>
        <td *ngIf="item.status==='Reserved'">{{item.managementip}}</td>
        <td *ngIf="item.status==='Reserved'">{{item.powercycleip}}</td>
        <td *ngIf="item.status==='Reserved'">{{item.powercycleport}}</td>
       

        <!-- <td *ngIf="item.status==='Unreserved'"><button class="btn btn-warning">{{item.status}}</button></td> -->
        <td *ngIf="item.status==='Reserved'"><button class="btn btn-success" (click)="clickedreserved(item.id)">{{item.status}}</button></td>




        <!-- <td><button class="btn btn-danger" (click)="deleteId(item.id)">Delete</button></td>
        <td><a [routerLink]="['/create', item.id]" class="btn btn-primary" >Update</a></td> -->

        
      </tr>
      
     </tbody> 
  </table>
  </div> 
  


















