<nav class="navbar navbar-color navbar-expand-lg bg-body-tertiary  bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand"  (click)="clickedHead()" >Lab Reservation Tool</a>
    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Projects</button>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a *ngIf="access==='admin'" class="nav-link active"   aria-current="page" (click)="adduser()">Add User</a>
      </li>
      <li class="nav-item">
        <a *ngIf="access==='admin'" class="nav-link active"  aria-current="page" (click)="adddevice()">Add Device</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" (click)="clickedUser()">User Info</a>
      </li>
      
      
    </ul>
    <button class="btn btn-outline-success me-2" type="submit" (click)="clickedCart()">Your topologies</button>
    <button class="btn btn-outline-success me-2" *ngIf="access==='admin' " type="submit" (click)="clickedTopology()"> Create Topology</button>


    <button class="btn btn-outline-danger me-2" type="submit" routerLink="/logout">Logout</button>

  </div>
 
</div>
</nav>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
<div class="offcanvas-header">
  <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Projects</h2>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
          <nav class="nav nav-pills " *ngFor="let project of projects">
            <a class="nav-link ms-3 my-1"  style="color:black;" (click)="getProjectInfo(project.projectname, project.id)">{{project.projectname}}</a>
          </nav>
        
        <button class="btn btn-primary m-3"  *ngIf="access==='admin'"   (click)="clickedRegisteredProject()">Register Project</button>    </div>
</div>



<div class="mt-5">
<div class=" container mt-5">
<h1  style="text-align: center;" class=" bello">Current Devices</h1>


<div class="mt-5" >
<div  style="margin-top: 50px; ">
<table class="table table-bordered " >
<thead>
<tr>

<th scope="col">Rack</th>
<th scope="col">Unit</th>
<th scope="col">Device Name</th>
<th scope="col">Start Time</th>
<th scope="col">End Time</th>

<th scope="col">Team Name</th>
<th scope="col">Project Name</th>
<th scope="col">Status</th>

</tr>
</thead>
<tbody *ngFor="let item of current"> 
<tr>

<td>{{item.rack}}</td>
<td>{{item.unit}}</td>
<td>{{item.devicename}}</td>
<td>{{item.time}}</td>
<td>{{item.endtime}}</td>
<td>{{item.teamname}}</td>
<td>{{item.projectname}}</td>
<td ><button class="btn btn-warning" (click)="clickedUnreserveFromCurrentDevice(item.id)">Unreserved</button></td>


</tr>

</tbody> 
</table>
</div>
</div></div>

</div>
<div class="container mt-5">

<h1  style="text-align: center; " class="container mt-5">Scheduled</h1>


<div class="mt-5" >
<div  style="margin-top: 50px; ">
<table class="table table-bordered ">
<thead>
  <tr>
    <th scope="col">Rack</th>
    <th scope="col">Unit</th>
    <th scope="col">Device Name</th>
    <th scope="col">Start Time</th>
    <th scope="col">End Time</th>
    <th scope="col">Team Name</th>
    <th scope="col">Project Name</th>
    <th scope="col">Status</th>

    
  </tr>
</thead>
<tbody *ngFor="let item of schedule"> 
  <tr >
    <td>{{item.rack}}</td>
    <td>{{item.unit}}</td>
    <td>{{item.devicename}}</td>
    <td>{{item.time}}</td>
    <td>{{item.endtime}}</td>
    <td>{{item.teamname}}</td>
   <td>{{item.projectname}}</td>
   <td ><button class="btn btn-warning" (click)="clickedUnreserveFromSchedule(item.id)">Unreserved</button></td>
  </tr>
  
 </tbody> 
</table>
</div>
</div>

</div>
<div class="container mt-5">

<h1  style="text-align: center; " class="container mt-5"> History</h1>


<div class="mt-5" >
<div  style="margin-top: 50px; ">
<table class="table table-bordered ">
<thead>
  <tr>
    <th scope="col">Rack</th>
    <th scope="col">Unit</th>
    <th scope="col">Device Name</th>
    <th scope="col">Start Time</th>
    <th scope="col">End Time</th>
    <th scope="col">Team Name</th>
    <th scope="col">Project Name</th>
    
  </tr>
</thead>
<tbody *ngFor="let item of history"> 
  <tr >
    <td>{{item.rack}}</td>
    <td>{{item.unit}}</td>
    <td>{{item.devicename}}</td>
    <td>{{item.time}}</td>
    <td>{{item.endtime}}</td>
    <td>{{item.teamname}}</td>
   <td>{{item.projectname}}</td>
  
    
  </tr>
  
 </tbody> 
</table>
</div>
</div>

</div>



































